# This requirements file lists all third-party dependencies for this project.
#
# Run 'pip install -r requirements.txt -t libs/' to install these dependencies
# in `libs/` subdirectory.
#
# Note: The `libs` directory is added to `sys.path` by `appengine_config.py`.

Flask==0.10
stripe==1.16.0
